/* import font poppins from google fonts w/ selected font-weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

/* :root represents the <html> element and is identical to the selector html, except that its specificity is higher.
it can be useful for declaring global CSS variables */
:root{
    /* set custom color propterties in the root that can be used later using var(--red-color)*/
    /* the same color might be used in hundreds of different places, requiring global search and replace if that color needs to change */
    --poppins-font: 'Poppins', sans-serif;
    --dark-color: #0a0a0a;
    --red-color: #f64445;
    --light-color: #fff;
    --grey-color: #505050;
    --yellow-color: #f2c10e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    border: 2px solid yellow;
    font-size: 1.7rem;
    min-height: 100vh;
    background: var(--red-color);
    background: linear-gradient(169deg, #f64445 0%, #611cac 100%);
    line-height: 1.6;
    font-family: var(--poppins-font);
    display: flex;
    align-items: center;
    justify-content: stretch; /* Distribute items evenly Stretch 'auto'-sized items to fit the container */
}

button, input{
    border: 1px solid yellow;
    font-family: inherit;
    font-size: 1.8rem;
    outline: 0;
    background-color: transparent;
}

li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
.main-wrapper{
    border: 5px solid green;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.app{
    border: 5px solid green;
    background-color: var(--dark-color);
    margin: 2rem;
    padding: 5rem;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}
.app-header {
    outline: 1px solid #f64445;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.app-header-title span {
    color: var(--red-color);
}

/* search bar */
.app-header-search {
    border: 2px solid var(--grey-color);
    border-radius: 3rem;
    padding: 1rem;
    position: relative;
}
.app-header-search .form-control {
   min-width: 300px;
   color: rgb(220, 209, 209);  /* color of what is typed in the input (form-control) search box*/
}

/* search button */
.app-header-search .search-btn{
    color: var(--grey-color);
    font-size: 2.4rem;
    cursor: pointer;
}

/* search list */
.search-list {
    z-index: 10;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    background-color: var(--light-color);
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;

}

.search-list-item {
    display: flex;
    background-color: var(--dark-color);
    padding: 0.4rem 0;
}

.search-list-item img{
    width: 50px;
    margin-right: 2rem;
}
.search-list-item p{
    font-weight: 700;
    cursor: pointer;
}


/* app body */
.app-body {
    border: 2px solid white;
    margin-top: 4rem;
    height: 600px;
    overflow-y: scroll; 
}


.app-body-content {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 4rem;
    margin-right: 2rem;
}

.app-body-content-thumbnail {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;

}

.app-body-content-list .name {
    border: 2px solid green;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: -1.2rem;
}

.app-body-tabs-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    border-radius: 2px;
    padding-bottom: 1.6rem;
    margin: 2.4rem 0;
}

.tab-head-single {
    color: #fff;
    font-weight: 500;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.tab-head-single:hover{
    opacity: 0.9;
}

.tab-head-single.active-tab::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.7rem;
    width: 100%;
    height: 4px;
    background-color: var(--red-color);
}

/*tab content*/
.app-body-tabs-body{
    margin-top: 3.6rem;
}

/*first tab content - powerstats*/

.powerstats {
    display: none;
}

.powerstats li {
    display: flex;
    justify-content: space-between;
    margin: 1.2rem auto;
    padding: 1.2rem;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);;
}

/*icon color*/
.powerstats li div i{
    color: var(--red-color);
}

.powerstats li div span {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.7rem;
    margin: 0 1.6rem;
    padding: 0 1.2rem;
    opacity: 0.6;
}

.powerstats li > span {
    color: var(--yellow-color);
    font-weight: 700;
}

.biography {
    display: none;
}
.biography li {
    margin: 3.4rem 0;
}

.biography li span {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.9rem;
}
.biography li span:first-child {
    color: var(--grey-color);
    font-weight: 600;
    margin-right: 1rem;
}
.biography li span:last-child{
    font-weight: 300;
}


.appearance {
    display: none;
}

.appearance li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.2rem 0;
}

.appearance li i {
    color: var(--yellow-color);
    margin-right: 1.2rem;
}

.appearance li span:first-child {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 4rem;
}

.appearance li span:last-child {
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--red-color);
    border-radius: 1.5rem;
    padding: 0 1rem;
    text-align: right;
}

.connections {
    display: none;
}

.connections li span:first-child {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--grey-color);
    display: block;
    margin: 1.6rem 0 1.6rem 4rem;
    position: relative;
    margin-top: 3.6rem;
}

/* yellow line before first span  */
.connections li span:first-child::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    height: 3px;
    width: 30px;
    background-color: var(--yellow-color);
}
.connections li span:last-child {
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.9;
}

@media screen and (max-width: 1200px) {
    .app-body-content {
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
    .tab-head-single {
        margin: 1.5rem 0;
    }
}
@media screen and (max-width: 1000px){
    .app-body-content-list .name{
        text-align: center;
        margin-top: 1.8rem;
    }
    .app-body-content {
        grid-template-columns: 1fr;
        row-gap: 4rem;
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
    }
    .app-body-content-thumbnail {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .app-header {
        flex-direction: column;
    }
    .app-header-search {
        margin-top: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .app-body-tabs-head {
        flex-direction: column;
    }
    .app-header-search {
        display: flex;
    }
    .app-header-search .form-control {
        min-width: auto;
        color: #fff;
    }
    .app-header-search .search-btn{
        padding-left: 2rem;
    }
    .app-body-tabs-body {
        margin-right: 3rem;
    }
}

/* show tab */
.show-tab{
    display: block;
}